body{
background-image: url(../media/paysage.jpg);
}

/* système de grille */
.d-flex{
    display: flex;
}

.info-container{
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.info-container-bg-color{
    background-color: #2a424f;
}

button{
    width:30px;
    height:30px;
    background-color: transparent;
    border-color: transparent;
}

.home-icone{
    width:20px;
    height: 20px;
}

.before-icone{
    width:15px;
    height: 15px;
}

.next-icone{
    width:15px;
    height: 15px;
}

.recherche{
    width:30px;
    height: 30px;
}

.folders-container-bg-color{
    background-color: #41677c;
}

.folders-container{
    min-height: 600px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icone-fichier{
    width:100px;
    height: auto;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .input-search{
        width:90%;
    }  

    .recherche{
        width:20px;
        height:20px;
        margin-bottom: 10px;
    } 
}


@media (max-width: 575.98px) {
    .input-search{
        width:90%;
    }
    
    .recherche{
        width:20px;
        height:20px;
        margin-bottom: 5px;
    }

}
